@import url("https://fonts.googleapis.com/css2?family=Almendra:ital,wght@0,400;0,700;1,400;1,700&family=Arimo:wght@400..700&family=Oswald:wght@200..700&family=Quintessential&display=swap");

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Oswald;
    font-style: Light;
    margin: 80px;
}


#banner {
    display: flex;
    align-items: center;
    background-color: #8193a7;
    border: 2px solid black;
}

#logo {
    width: 150px;
    margin: 25px;
}

h1 {
    color: white;
    margin: 25px;
    font-weight: 300;
    font-size: 40px;
    font-style: Light;
}


h2 {
    margin: 25px 0 20px 0;
    font-weight: 600;
    font-size: 44px;
    font-style: SemiBold;
}   


#bestMovieFrame {
    display: flex;
    border: 5px solid black;
    padding: 10px;
}

/* Adapter l'image au container */
#movieImage {
    min-width: 240px;
    min-height: 320px;
}
#movieImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


#movieContent {
    display: flex;
    flex-direction: column;
    margin: 5px 5px 5px 40px;
}

#movieContent h2 {
    margin: 0 0 20px 0;
}

#movieContent p {
    margin: 5px;
    font-size: 28px;
    font-style: ExtraLight;
    font-weight: 200;
}

#detailsRedButton {
    align-self: flex-end;
    height: 60px;
    margin: 10px 20px 20px 10px;
    padding: 16px 40px 16px 40px;
    color: white;
    font-size: 24px;
    font-weight: 500;
    font-style: Medium;
    background-color: red;
    border-radius: 25px;
    border: none;
}

#detailsRedButton:hover {
    cursor: pointer;
    border:2px solid red;
    padding: 14px 38px 14px 38px;
    background-color: white;
    color: red;
}


.moviesFrame {
    display: flex;
    justify-content: space-between;
    
    flex-wrap: wrap;
}

#movieCard {
    position: relative;
    display: flex;
    width: 240px;
    height: 240px;
    margin: 10px;
    margin-bottom: 50px;
}

@media screen and (min-width: 1200px) {#movieCard {
    width: 330px;
    height: 330px;
}}

#movieBanner {
    display: flex;
    flex-direction: column;
    align-self: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 1;
    width: 100%;
}

#movieCard img {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    
}


#movieTitle {
    align-self: flex-start;
    margin: 20px;
    color: white;
    font-weight: 600;
    font-size: 24px;
    font-style: SemiBold;

}

#detailsGreyButton {
    align-self: flex-end;
    margin: 10px;
    padding: 4px 20px 4px 20px;
    height: 30px;  
    color: white;
    font-size: 14px;
    font-weight: 500;
    font-style: Medium;
    background-color: rgb(36, 36, 36);
    border-radius: 15px;
    border: none;
}

#detailsGreyButton:hover {
    cursor: pointer;
    border:2px solid rgb(36, 36, 36);
    padding: 2px 18px 2px 18px;
    background-color: white;
    color: rgb(36, 36, 36);
}


#seeBtn {
    display: flex;
    justify-self: center;
    height: 40px;
    margin: 10px 20px 20px 10px;
    padding: 10px 40px 10px 40px;
    color: white;
    font-size: 20px;
    font-style: Medium;
    font-weight: 500;
    background-color: red;
    border-radius: 20px;
    border: none;
}

#seeBtn:hover {
    cursor: pointer;
    border:2px solid red;
    padding: 8px 38px 8px 38px;
    background-color: white;
    color: red;
}

#seeBtn.hide {
    display: none;
}


button:hover {
    cursor: pointer;
}


#categoryChoice{
    display: flex; 
    align-items: center;
}


#listCategory {
    font-weight: 600;
    font-style: SemiBold;
    font-size: 36px;
    margin: 10px 0 0 40px;
    padding: 10px 20px 10px 20px;
    border: 1px solid black;
   
}

#listCategory:hover {
    cursor: pointer;
}

#listCategory option {
    font-weight: 600;
    font-style: SemiBold;
    font-size: 36px;
}








#modalWindow {
    display: flex;
    flex-direction: column;
    position: relative;
    border: 5px solid black;
    padding: 30px;
}

#infos {
    margin-bottom: 40px;
}

#close {
    display: flex;
    justify-self: center;
    align-self: center;
    height: 40px;
    margin: 10px 20px 20px 10px;
    padding: 10px 40px 10px 40px;
    color: white;
    font-size: 20px;
    font-style: Medium;
    font-weight: 500;
    background-color: red;
    border-radius: 20px;
    border: none;
}

#poster{
    position: absolute;
    top: 30px;
    right: 30px;

}

#poster img {
    width: 240px;
    height: 320px;
    object-fit: contain;
    object-position: center;
}


#close:hover {
    cursor: pointer;
    border:2px solid red;
    padding: 8px 38px 8px 38px;
    background-color: white;
    color: red;
}


#modalWindow h2 {
    font-weight: 600;
    font-size: 48px;
    font-style: SemiBold;
    color: black;    
    margin: 0;
}

#modalWindow h3 {
    font-weight: 600;
    font-size: 24px;
    font-style: SemiBold;
    color: black;    
}

.regular {
    font-weight: 400;
    font-style: Regular;
    color: black;    
}

.light {
    font-weight: 300;
    font-style: Light;
    color: black;    
}

.medium {
    font-size: 24px;
}

.little{
    font-size: 20px;
}