@import url("https://fonts.googleapis.com/css2?family=Almendra:ital,wght@0,400;0,700;1,400;1,700&family=Arimo:wght@400..700&family=Oswald:wght@200..700&family=Quintessential&display=swap");

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Oswald;
    color: #272330;
    background: linear-gradient(to right, #e9e1fa, #9289ac);
}

#allContent {
    margin: auto;
    padding: 80px;
    max-width : 1440px;
}


#banner {
    display: flex;
    align-items: center;
    background: radial-gradient(#796b97, #9a91b6);
    border: 2px solid #49415a;
    border-radius: 10px;
}

#logo {
    width: 150px;
    margin: 25px;
}



h1 {
    color: white;
    margin: 25px;
    font-weight: 300;
    font-size: 40px;
    font-style: Light;
}

h2 {
    margin: 30px 0 15px 0;
    font-weight: 600;
    font-size: 44px;
    font-style: SemiBold;
}   



#bestMovieFrame {
    display: flex;
    border: 4px solid #49415a;
    border-radius: 10px;
    padding: 10px;
    background: radial-gradient(#efe7ff, #d7d0ec);
}



#movieImage {
    min-width: 240px;
    min-height: 320px;
}
#movieImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#movieContent {
    display: flex;
    flex-direction: column;
    margin: 5px 5px 5px 40px;
}

#movieContent h2 {
    margin: 0 0 20px 0;
}

#movieContent p {
    margin: 5px;
    font-size: 28px;
    font-style: ExtraLight;
    font-weight: 200;
}



.detailsBestMovieButton {
    align-self: flex-end;
    height: 60px;
    margin: 10px 20px 20px 10px;
    padding: 16px 40px 16px 40px;
    color: white;
    font-size: 24px;
    font-weight: 500;
    font-style: Medium;
    background-color: #796b97;
    border-radius: 25px;
    border: none;
}

.detailsBestMovieButton:hover {
    cursor: pointer;
    border:2px solid #49415a;
    padding: 14px 38px 14px 38px;
    background-color: white;
    color: #49415a;
    
}



.moviesFrame {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.movieCard {
    position: relative;
    display: flex;
    width: 245px;
    height: 245px;
    margin: 20px;

}

@media screen and (min-width: 1299px) {.movieCard {
    width: 330px;
    height: 330px;
}}

.movieBanner {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    top: 15%;
    z-index: 1;
    width: 100%;
}

.movieCard img {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    
}

.movieTitle {
    align-self: flex-start;
    margin: 10px 20px 0 20px;
    color: white;
    font-weight: 600;
    font-size: 24px;
    font-style: SemiBold;

}



.detailsCardButton {
    align-self: flex-end;
    margin: 10px;
    padding: 4px 20px 4px 20px;
    height: 30px;  
    color: white;
    font-size: 14px;
    font-weight: 500;
    font-style: Medium;
    background-color: #3a3546;
    border-radius: 15px;
    border: none;
}

.detailsCardButton:hover {
    cursor: pointer;
    border:2px solid #3a3546;
    padding: 2px 18px 2px 18px;
    background-color: white;
    color: #3a3546;
}



.seeBtn {
    display: flex;
    justify-self: center;
    height: 40px;
    margin: 10px 20px 20px 10px;
    padding: 10px 40px 10px 40px;
    color: white;
    font-size: 20px;
    font-style: Medium;
    font-weight: 500;
    background-color: #796b97;
    border-radius: 20px;
    border: none;
}

.seeBtn:hover {
    cursor: pointer;
    border:2px solid #49415a;
    padding: 8px 38px 8px 38px;
    background-color: white;
    color: #49415a;
}

@media screen and (min-width: 769px) {.seeBtn {
    display: none
}}



#categoryChoice{
    display: flex; 
    align-items: center;
}

#listCategory {
    font-weight: 600;
    font-style: SemiBold;
    font-size: 36px;
    margin: 25px 0 0 40px;
    padding: 5px 20px 5px 20px;
    border: 1px solid #49415a;
    border-radius: 5px;
    color: #272330;
    font-family: Oswald;
   
}

#listCategory:hover {
    cursor: pointer;
}

#listCategory option {
    font-weight: 600;
    font-style: SemiBold;
    font-size: 36px;
    color: #272330;
    font-family: Oswald;
}



#modalWindowBackground {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2; 
    height: 100%;
    width: 100%;
    background-color: rgba(158, 158, 158, 0.781);
    display: flex;
    align-items: center;
    justify-content: center;
}

#modalWindow {
    position: fixed;
    max-height: 80%;
    overflow-y: auto;   /* scroll interne */
    width: 80%;
    max-width : 1440px;
    display: flex;
    flex-direction: column;
    border: 4px solid #49415a;
    border-radius: 10px;
    padding: 30px;
    /* background: linear-gradient(to right, #ede4ff, #a9a0c4); */
    background: radial-gradient(#efe7ff, #d7d0ec);
}   

#modalWindow div {
    margin-bottom: 40px;
}

#closeBtn {
    display: flex;
    justify-self: center;
    align-self: center;
    height: 40px;
    margin: 10px 20px 20px 10px;
    padding: 10px 40px 10px 40px;
    color: white;
    font-size: 20px;
    font-style: Medium;
    font-weight: 500;
    background-color: #796b97;
    border-radius: 20px;
    border: none;
}

#closeBtn:hover {
    cursor: pointer;
    border:2px solid #49415a;
    padding: 8px 38px 8px 38px;
    background-color: white;
    color: #49415a;
}

#modalImage{
    position: absolute;
    top: 30px;
    right: 30px;

}

#modalImage img {
    width: 240px;
    height: 320px;
    object-fit: contain;
    object-position: center;
}

#headDetails {
    max-width: 60% ;
}

#modalWindow h2 {
    font-weight: 600;
    font-size: 48px;
    font-style: SemiBold;
    margin: 0;
}

#modalWindow h3 {
    font-weight: 600;
    font-size: 24px;
    font-style: SemiBold;
}

.regular {
    font-weight: 400;
    font-style: Regular;
}

.light {
    font-weight: 300;
    font-style: Light;    
}

.medium {
    font-size: 24px;
}

.little{
    font-size: 20px;
}




.hide {
    display: none !important;
}