@import url("https://fonts.googleapis.com/css2?family=Almendra:ital,wght@0,400;0,700;1,400;1,700&family=Arimo:wght@400..700&family=Oswald:wght@200..700&family=Quintessential&display=swap");

/* Général */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Oswald;
    color: #332d3f;
    background: linear-gradient(to right, #e9e1fa, #9289ac);
}

#allContent {
    margin: auto;
    padding: 40px;
    max-width : 1440px;
}



/* Banniere */
#banner {
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient(#796b97, #9a91b6);
    border: 2px solid #49415a;
    border-radius: 10px;
}

#logo {
    width: 150px;
    margin: 25px;
}

h1 {
    color: white;
    margin: 10px;
    font-weight: 300;
    font-size: 40px;
}

@media (max-width: 425px) {h1 {
    display: none
}}



/* Titres */
h2 {
    margin: 30px 0 20px 0;
    font-weight: 600;
    font-size: 32px;
    text-align: center;
}   


/* Section meilleur film */
#bestMovieFrame {
    display: flex;
    flex-direction: column;
    border: 4px solid #49415a;
    border-radius: 10px;
    padding: 10px;
    background: radial-gradient(#efe7ff, #d7d0ec);
}

#movieImage {
    width: auto;
    height: auto;
}

#movieImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#movieContent {
    display: flex;
    flex-direction: column;
    margin: 5px;
    min-width: 0;
}

#movieContent h2 {
    text-align: start;
    margin: 0;
    overflow-wrap: break-word;
}

#movieContent p {
    font-size: 16px;
    font-weight: 200;
    overflow-wrap: break-word;
}

.detailsBestMovieButton {
    align-self: center;
    align-items: center;      
    justify-content: center;
    margin: 20px 20px 0 20px ;
    padding: 13px 20px 13px 20px;
    color: white;
    font-size: 14px;
    font-weight: 500;
    background-color: #796b97;
    border-radius: 20px;
    border: none;
}

.detailsBestMovieButton:hover {
    cursor: pointer;
    border:2px solid #49415a;
    padding: 11px 18px 11px 18px;
    background-color: white;
    color: #49415a;
}



/* Section Meilleurs films */
.moviesFrame {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    
}

.movieCard {
    position: relative;
    display: flex;
    width: 100%;
    aspect-ratio: 1 / 1;
}

.movieCard img {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.movieBanner {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    margin-top: 15%;
    z-index: 1;
    width: 100%;
    padding: 10px 15px 15px 15px;
}

.movieTitle {
    align-self: flex-start;
    margin: 0 0 10px 0; 
    color: white;
    font-weight: 600;
    font-size: 24px;
}

.detailsCardButton {
    align-self: flex-end;
    align-items: center;      
    justify-content: center;
    padding: 9px 25px 9px 25px;
    color: white;
    font-size: 14px;
    font-weight: 500;
    background-color: #3a3546;
    border-radius: 16px;
    border: none;
}

.detailsCardButton:hover {
    cursor: pointer;
    border:2px solid #3a3546;
    padding: 7px 23px 7px 23px;
    background-color: white;
    color: #3a3546;
}



/* Boutons voir plus/moins */
.seeBtn {
    display: flex;
    align-items: center;      
    justify-content: center;  
    margin: 20px auto ;
    padding: 6px 60px 6px 60px;
    color: white;
    font-size: 20px;
    font-weight: 500;
    background-color: #796b97;
    border-radius: 16px;
    border: none;
}

.seeBtn:hover {
    cursor: pointer;
    border:2px solid #49415a;
    padding: 4px 58px 4px 58px;
    background-color: white;
    color: #49415a;
}



/* Section Categories */
#categoryChoice{
    display: flex; 
    flex-direction: column;
    align-items: center;
}

#listCategory {
    font-weight: 600;
    font-size: 28px;
    margin: 10px 0 20px 0;
    padding: 5px 20px 5px 10px;
    border: 1px solid #49415a;
    border-radius: 5px;
    color: #272330;
    font-family: Oswald;
}



/* Gestion choix 3eme categorie */
#listCategory:hover {
    cursor: pointer;
}

#listCategory option {
    font-weight: 600;
    font-size: 28px;
    color: #272330;
    font-family: Oswald;
}



/* Fenetre Modale */
#modalWindowBackground {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2; 
    height: 100%;
    width: 100%;
    background: radial-gradient(rgba(170, 147, 180, 0.8), rgba(59, 50, 63, 0.8));
    display: flex;
    align-items: center;
    justify-content: center;
}

#modalWindow {
    position: fixed;
    max-height: 80%;
    overflow-y: auto;   /* scroll interne */
    width: 80%;
    max-width : 1200px;
    display: flex;
    flex-direction: column;
    border: 4px solid #49415a;
    border-radius: 10px;
    padding: 30px;
    
    background: radial-gradient(#efe7ff, #d7d0ec);
}   

#modalWindow div {
    margin-bottom: 40px;
}

#modalImage{
    width: auto;
    height: auto;
}

#modalImage img {
    width: 100%;
    height: 100%;
} 

#modalWindow h2 {
    font-weight: 600;
    font-size: 48px;
    margin: 0;
    text-align: start;
}

#modalWindow h3 {
    font-weight: 600;
    font-size: 24px;
}

.regular {
    font-weight: 400;
}

.light {
    font-weight: 300;  
}

.medium {
    font-size: 24px;
}

.little{
    font-size: 20px;
}

#closeBtn {
    display : flex;
    align-items: center;      
    justify-content: center;
    margin: 10px auto 20px auto;
    padding: 8px 60px 8px 60px;
    color: white;
    font-size: 20px;
    font-weight: 500;
    background-color: #796b97;
    border-radius: 20px;
    border: none;
}

#closeBtn:hover {
    cursor: pointer;
    border:2px solid #49415a;
    padding: 6px 58px 6px 58px;
    background-color: white;
    color: #49415a;
}



/* Cacher les éléments via la classe */
.hide {
    display: none !important;
}



/* Gestion responsive tablette */
@media (min-width: 426px) {
    #banner {
        justify-content: flex-start;
    }

    h2 {
        font-size: 40px;
        text-align: start;
    }
    
    #bestMovieFrame {
        flex-direction: row;
        gap: 20px;
    }
    #movieImage {
        min-width: 180px;
    }   
    #movieContent p {
        font-size: 24px;
    }
    .detailsBestMovieButton {
        align-self: flex-end;
        margin: 5px ;
        padding: 12px 25px 12px 25px;
        font-size: 20px;
        border-radius: 23px;
        margin-top: auto;
    }
    .detailsBestMovieButton:hover {
        padding: 10px 23px 10px 23px;
    }

    .movieCard {
        width: 45%;
    }
    
    #categoryChoice{
    flex-direction: row;
    gap: 30px;
    }
    #listCategory {
        font-size: 32px;
        margin: 15px 0 0 0;
        padding: 5px 20px 5px 10px;
    }
    #listCategory option {
        font-size: 32px;
    }
}



/* Gestion responsive PC */
@media (min-width: 769px) {
    #allContent {
        padding: 80px;
    }
    h2 {
        font-size: 48px;
    }   
    
    #movieContent p {
        font-size: 28px;
    }
    .detailsBestMovieButton {
        padding: 20px 40px 20px 40px;
        font-size: 24px;
        border-radius: 25px;
    }
    .detailsBestMovieButton:hover {
        padding: 18px 38px 18px 38px;
    }

    .movieCard {
        width: 30%;
    }

    .seeBtn {
        display: none
    }

    #listCategory {
        font-size: 36px;
    }
    #listCategory option {
        font-size: 36px;
    }

    #modalImage{
        position: absolute;
        top: 30px;
        right: 30px;
    }
    #modalImage img {
        width: auto;
        height: 360px;
    } 
    .headDetails {
        width: 50%;
    }
}



/* Cacher le bon nombre de film en fonction de l'ecran */
/* Mobile */
@media (max-width: 425px) {
    /* Cache 4 films */ 
    .movieCard:nth-child(n + 3):not(.show) {
        display: none;
    } 
}

/* Tablette */
@media (min-width: 426px) and (max-width: 768px) {
    /* Cache 2 films */
    .movieCard:nth-child(n + 5):not(.show) {
        display: none;
    }
}